.header {
  position: fixed;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  

  &__search {
    background: #f8fafd;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    max-width: 670px;
    width: 100%;
    min-height: 48px;
    padding-left: 16px;
    border: 1px solid transparent;
    outline: none;

    &:focus{
      border: 1px solid #0d75ff;

      &::placeholder{
        color: #0d75ff;
      }
    }
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  &__link {
    padding: 11px 23px;
    background: #0d75ff;
    border-radius: 4px;
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    border: 1px solid #0d75ff;

    &:hover{
      background-color: #fff;
      color: #0d75ff;
    }
  }
}

.admin{
  display: none;
}
