.swiper__father {
  margin-top: 200px;
}

.swiper {
  width: 100% !important;
  border-radius: 15px;
  &-slide {
    width: 100% !important;
    border-radius: 15px !important;
  }

  &-img {
    width: 100%;
    height: 570px;
    border-radius: 15px;
    object-fit: cover;

    @include media(1200) {
      object-fit: cover;
      height: 600px;
    }
    @include media(576) {
      object-fit: cover;
      height: 450px;
    }
  }
}
