.card-color
  .cards.container 
    template(id="template-book")
      .card 
        .card__image 
          img(src="./images/python.webp" alt="python")
        .card__info 
          h5 Python
          p.author David M. Beazley
          p.year 2009
        .card__buttons 
          a(href="#!").card__bookmark Bookmark
          a(href="#!").card__more More Info
        button.card__btn Read
    
