.container-fluid
  header.header 
    a(href="./index.html").header__logo
      img(src="./images/logo.webp", alt="logo" width="226" height='44')
    input(type="text", name="search" placeholder="search books").header__search 
    .header__right 
      img(src="./images/mode.webp", alt="mode")
      a(href="#!").header__link.login LogIn 
      a(href="admin.html").header__link.admin Add Book 
