.container-fluid.nav-main
  nav.nav
    i(class="fa-solid fa-bars nav__bars")
    p.nav__results Showing <span>18</span>  Result(s)
    select(name="select").nav__select
      option(value="default" readonly) Search by year 
      option(value="all") All 
      option(value="2020") 2020 
      option(value="2021") 2021 
      option(value="2021") 2022 
      option(value="2021") 2023 
      option(value="2021") 2024 