$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// to-container
$col-sm: 540px;
$col-md: 720px;
$col-lg: 960px;
$col-xl: 1140px;
$col-xxl: 1320px;

$breakpoints: (
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl,
);

// mixin for container

@mixin containerMaker($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
}

//mixin for media

@mixin media($size) {
  @media screen and (max-width: #{$size}px) {
    @content;
  }
}
