doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./styles/login.css")
    title Login-page
  body
    form(action="").form
      img(src="./images/logo12.webp" alt="webp")  
      input(type="text" placeholder='Email').form__username 
      input(type="password" placeholder='password').form__password 
      button.form__button LOGIN
    script(src="./scripts/login.js") 